/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
}
.input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: gray;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
}

.button {
  display: inline-flex;
  padding: 8px 16px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}

.container-image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 0 0 10px #00000080;
}

.gallery {
  width: 1440px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 32px;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  filter: saturate(150%);
}

.info-list {
  display: flex;
  justify-content: space-evenly;
  color: #242424;
}
.info-title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
}

.info-value {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}